    <script>       
      $(document).foundation();
      
      function change( $h5on ){
        console.log( $h5on );
        $( '#output-json-data' ).text( JSON.stringify( $h5on.h5on(), null, 2 ) );
        hljs.highlightBlock( $( '#output-json-data' )[ 0 ] );
        $( '#output-html-data' ).text( pretty( $h5on ) );
        hljs.highlightBlock( $( '#output-html-data' )[ 0 ] );
      }
      
      function isNumeric(num){
        return !isNaN(num)
      }
      
      function showEditor( $button, isShow ){
        $button.parent().toggle( isShow );
      }
      
      function replaceEl( $el, value ){
        var isProperty = $el.is( '[data-key]' );
        
        var $new = $.h5on( value );
        
        if( isProperty ){
          $new.attr( 'data-key', $el.attr( 'data-key' ) );
        }
        
        $el.replaceWith( $new );

        return $new;
      }
      
      function createEditor( $el, $h5on ){
        $( '.editor' ).remove();
        
        var $editor = ich.editor();
        var location = $el.offset();
        $( 'body' ).append( $editor );
        
        $editor.css({
          left: location.left,
          top: location.top - $editor.outerHeight()
        });
        
        var $parentEl = $el.parents( 'js-object, js-array' ).first();

        var isFirst = $el.is( ':first-child' );
        var isLast = $el.is( ':last-child' );
        var isContainer = $el.is( 'js-object, js-array' );
        var isPrimitive = $el.is( 'js-null, js-string, js-number, js-boolean' );
        var isProperty = $el.is( '[data-key]' );
        var isArrayItem = $el.parent().is( 'js-array' );        
        var isChild = isProperty || isArrayItem;
        var isNull = $el.is( 'js-null' );
        var hasParent = $parentEl.length > 0;

        var $up = $editor.find( '[data-key="up"]' );
        var $down = $editor.find( '[data-key="down"]' );
        var $before = $editor.find( '[data-key="before"]' );
        var $after = $editor.find( '[data-key="after"]' );
        var $key = $editor.find( '[data-key="key"]' );
        var $value = $editor.find( '[data-key="value"]' );
        var $null = $editor.find( '[data-key="null"]' );
        var $add = $editor.find( '[data-key="add"]' );
        var $parent = $editor.find( '[data-key="parent"]' );
        var $array = $editor.find( '[data-key="array"]' );
        var $object = $editor.find( '[data-key="object"]' );
        var $delete = $editor.find( '[data-key="delete"]' );
        
        showEditor( $up, isChild );
        showEditor( $down, isChild );
        showEditor( $before, isChild );
        showEditor( $after, isChild );
        showEditor( $key, isProperty );
        showEditor( $value, isPrimitive );
        showEditor( $null, !isNull );
        showEditor( $add, isContainer );
        showEditor( $parent, hasParent );
        showEditor( $array, isPrimitive );
        showEditor( $object, isPrimitive );
        showEditor( $delete, hasParent );

        if( isFirst ) $up.addClass( 'disabled' );
        if( isLast ) $down.addClass( 'disabled' );
        
        $up.click( function(){
          if( isFirst ) return false;
          
          var $prev = $el.prev();
          $prev.before( $el );
          $el.click();
          return false;
        });
        
        $down.click( function(){
          if( isLast ) return false;
          
          var $next = $el.next();
          $next.after( $el );
          $el.click();
          return false;
        });
        
        $before.click( function(){
          var $new = isProperty ? $.h5on( null, 'key' ) : $.h5on( null );
          $el.before( $new );
          $new.click();
          
          return false;
        });        
        
        $after.click( function(){
          var $new = isProperty ? $.h5on( null, 'key' ) : $.h5on( null );
          $el.after( $new );
          $new.click();
          
          return false;
        });        
        
        $key.click( function(){
          var key = $el.attr( 'data-key' );
          var value = window.prompt( 'New key?', key );
          
          if( value ){
            $el.attr( 'data-key', value );
          }
          
          $el.click();
          return false;
        });       
        
        $value.click( function(){
          var value = JSON.stringify( $el.h5on() );
          value = window.prompt( 'New value?', value );
          
          if( value ){
            try {            
              value = JSON.parse( value ); 
            } catch( e ) {
              if( e instanceof SyntaxError ){
                value = JSON.parse( '"' + value + '"' );
              } else {
                throw e;
              }
            }
                     
            var $new = replaceEl( $el, value );
            
            $new.click();
          }
          
          return false;
        }); 

        $null.click( function(){          
          var $new = replaceEl( $el, null );
          
          $new.click();
          
          return false;
        });
        
        $array.click( function(){          
          var $new = replaceEl( $el, [ $el.h5on() ] );
          
          $new.click();
          
          return false;
        });
        
        $object.click( function(){          
          var $new = replaceEl( $el, { key: $el.h5on() } );
          
          $new.click();
          
          return false;
        });        
        
        $parent.click( function(){          
          if( $parentEl.length > 0 ){
            $parentEl.click();
          }
          
          return false;
        });  

        $add.click( function(){
          var $new = $el.is( 'js-object' ) ? $.h5on( null, 'key' ) : $.h5on( null );
          
          $el.append( $new );
          
          $new.click();
          
          return false;
        }); 

        $delete.click( function(){
          $el.remove();
          
          $parentEl.click();
          
          return false;
        });
      }
      
      $( function(){       
        var $inputH5on = $( '#input-h5on' );

        var $outputJson = $( '#output-json-data' );
        var $outputHtml = $( '#output-html-data' );
        
        var $h5on = $.h5on( sampleData );
        $inputH5on.html( $h5on );        
        
        $( 'js-property, js-item' ).css({
          cursor: 'pointer'
        });
        
        $( '#editor-key' ).hide();
        $( '#view-key' ).click( function(){
          $( '#editor-key' ).toggle();
          
          return false;
        });
        
        $inputH5on.on( 'click', 'js-array, js-object, js-string, js-number, js-boolean, js-null', function(){
          $( '.editor' ).remove();          
          $( '.selected' ).removeClass( 'selected' );
          
          $( this ).addClass( 'selected' );
          
          createEditor( $( this ), $h5on );
          
          change( $inputH5on.find( '> *:first()' ) );
          
          return false;
        });
        
        $( 'body' ).click( function(){
          $( '.editor' ).remove();          
          $( '.selected' ).removeClass( 'selected' );          
        });
        
        change( $h5on );
      });
    </script>
    <script type="text/html" id="editor">
      <ul class="editor">
        <li><a href="#" data-key="up" title="Move up"><i class="fa fa-fw fa-chevron-up"></i></a></li>
        <li><a href="#" data-key="down" title="Move down"><i class="fa fa-fw fa-chevron-down"></i></a></li>
        <li><a href="#" data-key="before" title="Insert new before"><i class="fa fa-fw fa-arrow-circle-up"></i></a></li>
        <li><a href="#" data-key="after" title="Insert new after"><i class="fa fa-fw fa-arrow-circle-down"></i></a></li>
        <li><a href="#" data-key="add" title="Add new"><i class="fa fa-fw fa-plus-circle"></i></a></li>
        <li><a href="#" data-key="key" title="Edit key"><i class="fa fa-fw fa-key"></i></a></li>
        <li><a href="#" data-key="value" title="Edit value"><i class="fa fa-fw fa-pencil"></i></a></li>
        <li><a href="#" data-key="null" title="Set to null"><i class="fa fa-fw fa-ban"></i></a></li>        
        <li><a href="#" data-key="array" title="Wrap in array"><span class="mono">[]</span></a></li>        
        <li><a href="#" data-key="object" title="Wrap in object"><span class="mono">{}</span></a></li>        
        <li><a href="#" data-key="parent" title="Select parent"><i class="fa fa-fw fa-external-link"></i></a></li>
        <li><a href="#" data-key="delete" title="Delete"><i class="fa fa-fw fa-trash"></i></a></li>
      </ul>
    </script>