          <p>
            It was created as a thought experiment with two goals in mind:
          </p>
          <ol>
            <li>Traverse a JavaScript object graph using jQuery (specifically, a JSON-serializable object)</li>
            <li>The notation itself is rendered by layout engines in a human readable format</li>
          </ol>
          <p>
            As this is a thought experiment, please be aware that there are many alternative ways to traverse object graphs, and that for the most part they are much saner than this one. You have been warned!
          </p>
          <p>
            Despite that caveat, you can do some interesting and powerful things using this approach.          
          </p>
          <p>
            For more information, <a href="https://github.com/nrkn/h5on/blob/master/readme.md">read the docs at GitHub</a>.
          </p>
          <div class="row">
            <div class="large-4 columns">
              <h2>JSON</h2>
              <pre><code id="demo-json" class="json"></code></pre>
            </div>
            <div class="large-8 columns h5on-column">        
              <h2>H5ON</h2>
              <ul class="tabs" data-tab>
                <li class="tab-title active"><a href="#demo-h5on-live">Live</a></li>
                <li class="tab-title"><a href="#demo-h5on-source">Source</a></li>
              </ul>
              <div class="tabs-content">
                <div class="content active" id="demo-h5on-live">
                  <div id="demo-h5on">
                  </div>
                </div>
                <div class="content" id="demo-h5on-source">
                  <pre><code class="html" id="demo-h5on-html"></code></pre>
                </div>
              </div>        
            </div>
          </div>          